# macOS cruft
.DS_Store

# ignore everything in data/…
/data/*

# …except the metadata
!/data/dataset-metadata.json

# …and except any README.md in raw/ or processed/
!/data/raw/README.md
!/data/processed/README.md

# still ignore zips and CSVs
/data/*.zip
/data/**/*.csv

# ignore model binaries – we’ll host these on Kaggle


# Python environment folders
.venv/
env/
__pycache__/

# VSCode workspace files
.vscode/
